*{
    margin: 0px;
    padding: 0px;
    font-family:'Dosis', sans-serif ;
}

body
{
    background-color: rgb(213, 233, 250);
}

.container1 h2
{
    color: #b65461;
    padding-top: 10px;
    padding-left: 20px;
  
}
.container1 span{
    color: #f14a60;;
}


.navbar {
    /* margin: 30px auto; */
    display: flex;
    

}

ul{
    flex: 1;
    text-align: right;
}

ul li{
    display: inline-block;
    list-style: none;
    margin: 0px 25px;
    padding-top: 20px;

}

ul li a{
    text-decoration: none;
    color: black;
    padding-top: 40px;
    padding: 0px 10px;
    position: relative;
}

/*ul li a::after
{
    content: '';
    width: 100%;
    height: 10px;
    background: rgb(196, 137, 26);
    position: absolute;
    left: 50%;
    transform: translateX();
} */

ul li a:hover{
    /*width: 100%; */
    transition: 0.7s;
    color: white;
    background-color: rgb(168, 12, 90);
    
    display: inline-block;

}

.navbar-icons img{
    height: 75px;
    width: 60px;
    margin-left: 40px ;
    cursor: pointer;
}

.navbar-icons{
    margin-left: 40px;
}

.banner
{
    display: flex;
    margin-top: 80px;
}

.left-column{
  flex-basis: 50%;
}

.right-column{
   flex-basis: 50%;
}
.right-column img
{
    width: 100%;
    height: 100%;
}

.searchBox{
    width: 45%;
    display: flex;
    padding-left: 20px;
    padding-bottom:3px ;
    border-bottom: 1px solid #ddd;
    margin: 10px 0 30px;
}
.searchBox input
{
    border-radius: 60px;
    width: 500px;
    background-color: rgb(146, 75, 212);
    color: white;
    font-size: 26px;
    margin-left: 15px;
    height: 55px;
    margin-top: 30px;
}

.searchBox img{
    cursor: pointer;
    height: 40px;
    width: 40px;
}
.quotes{
    padding-left: 30px;
}
.quotes h2,h4{
    color: rgb(216, 9, 113);
    
}
.quotes h2
{
    font-size: 40px;
}
.quotes h4{
    padding-left: 20px;
}

.left{
    padding-top: 180px;
}

.right img{
   height: 500px;
   width: 500px;
}

.btn button{
    padding: 7px 30px;
    margin-left: 15px;
    outline: none;
    border: 1px solid rgb(216, 9, 113);
    border-radius: 20px;
    cursor: pointer;
    color: rgb(216, 9, 113);
    background: transparent;
}

.btn .primary-btn
{
    background: linear-gradient(#fb7381, #f14a60);
    box-shadow: 0 2px 15px rgb(216, 9, 113) ;
    color: white;
}

.btn{
    padding-left: 30px;
}